<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Institut</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Navigation ======= -->
 
  <!-- ======= Navigation ======= -->

  <!-- ======= Section d'en-tête ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Bienvenue à l'Iset</h1>
      <h2>Institut Supérieur des Études Technologiques de Tozeur</h2>
      <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="/login" class="btn-get-started scrollto">Commencer</a>
      </div>
    </div>
  </section><!-- Fin de la section d'en-tête -->

  <main id="main">

      <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>List of candidates admitted to the Professional Master's in
NEW AND RENEWABLE ENERGIES
for the academic year 2023-2024</h3>
              <p>
                The Higher Institute of Technological Studies of Tozeur announces that the candidates listed below have been admitted to the Professional Master's in New and Renewable Energies for the academic year 2023-2024. They are invited to follow the registration procedure during the period from August 22 to 31, 2023.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">En savoir plus <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Liste des candidats admis au Master Professionnel </h4>
                    <p>L'Institut Supérieur des Études Technologiques de Tozeur annonce que les candidats énumérés ci-dessous ont été admis au Master Professionnel en Nouvelles et Énergies Renouvelables pour l'année universitaire 2023-2024..</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Appel à Manifestation d'Intérêt 02/2024</h4>
                  <p>Appel à Manifestation d'Intérêt 02/2023
Recrutement et projet de certification en Autodesk : Civil 3D / Electrical AutoCAD / Mechanical AutoCAD
au profit de l'Institut Supérieur des Études Technologiques de Tozeur</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Appel à Manifestation d'Intérêt 01/2024

</h4><p>
Appel à Manifestation d'Intérêt 01/2024
Recrutement du projet de formation et de certification en "Gestion de Projet PMP / PRINCE2 / AGILE"
au profit de l'Institut Supérieur des Études Technologiques de Tozeur                  </div>
               </p> </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
  <div class="container">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
        <img src="https://images.pexels.com/photos/159844/cellular-education-classroom-159844.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid" alt="">
      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h4 data-aos="fade-up">À propos de nous</h4>
        <h3 data-aos="fade-up">Qui nous sommes et ce que nous faisons</h3>
        <p data-aos="fade-up">Liste des candidats retenus pour l’inscription au Master DevOps Cloud pour l’année universitaire 2023-2024 Date de création: 17 août 2023 Liste des candidats retenus pour l’inscription au Master DevOps Cloud pour l’année universitaire 2023-2024</p>

        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Notre approche</a></h4>
          <p class="description">Nous croyons en favorisant la créativité et les compétences de pensée critique pour préparer les étudiants au succès dans un monde en évolution rapide.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Nos valeurs</a></h4>
          <p class="description">Nous défendons l'intégrité, le respect et l'inclusivité dans tout ce que nous faisons, en assurant un environnement d'apprentissage favorable et nourrissant.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Nos objectifs</a></h4>
          <p class="description">Notre objectif est de cultiver un amour durable pour l'apprentissage et d'équiper les étudiants des compétences et des connaissances nécessaires pour prospérer au XXIe siècle.</p>
        </div>
      </div>
    </div>

  </div>
</section>


  

    <!-- ======= Section Services ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Nous proposons une gamme de services pour répondre aux besoins de nos étudiants et favoriser leur réussite académique et professionnelle.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Stage en Entreprise</a></h4>
          <p class="description">Opportunités de stages en entreprise pour acquérir une expérience pratique et développer des compétences professionnelles.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Orientation Académique</a></h4>
          <p class="description">Conseils personnalisés pour orienter les étudiants dans leurs choix académiques et professionnels.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Soutien Académique</a></h4>
          <p class="description">Sessions de tutorat et ressources éducatives pour aider les étudiants à réussir leurs études.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Orientation Professionnelle</a></h4>
          <p class="description">Ateliers et conseils pour préparer les étudiants à leur future carrière et à leur insertion professionnelle.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Soutien Social et Culturel</a></h4>
          <p class="description">Activités sociales, culturelles et sportives pour favoriser l'intégration et le bien-être des étudiants.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Événements et Conférences</a></h4>
          <p class="description">Organisation d'événements et de conférences pour enrichir l'expérience éducative des étudiants.</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Section Services -->


    <!-- ======= Section Valeurs ======= -->
<section id="values" class="values">
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card" style="background-image: url(assets/img/values-1.jpg);">
          <div class="card-body">
            <h5 class="card-title"><a href="">Notre Mission</a></h5>
            <p class="card-text">Nous nous engageons à fournir une éducation de qualité et à inspirer les étudiants à réaliser leur plein potentiel.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> En savoir plus</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="card" style="background-image: url(assets/img/values-2.jpg);">
          <div class="card-body">
            <h5 class="card-title"><a href="">Notre Plan</a></h5>
            <p class="card-text">Nous élaborons des programmes d'études complets et des stratégies pédagogiques innovantes pour favoriser l'apprentissage holistique.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> En savoir plus</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card" style="background-image: url(assets/img/values-3.jpg);">
          <div class="card-body">
            <h5 class="card-title"><a href="">Notre Vision</a></h5>
            <p class="card-text">Nous aspirons à être reconnus comme un leader dans l'innovation éducative et à préparer les étudiants à réussir dans un monde en évolution rapide.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> En savoir plus</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card" style="background-image: url(assets/img/values-4.jpg);">
          <div class="card-body">
            <h5 class="card-title"><a href="">Notre Engagement</a></h5>
            <p class="card-text">Nous nous engageons à offrir un environnement d'apprentissage inclusif, respectueux et sécuritaire pour tous les étudiants.</p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> En savoir plus</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- Fin Section Valeurs -->


  
    <!-- ======= Section Équipe Iset ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-up">Équipe Iset</h2>
      <p data-aos="fade-up">Nous sommes une équipe dévouée, passionnée par l'éducation et déterminée à fournir une expérience d'apprentissage exceptionnelle à nos étudiants.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Soufiene Ben MAhmoud</h4>
            <span>Directeur Général</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Manel chakroun</h4>
            <span>Responsable de départment</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Anoir Anderson</h4>
            <span>Directeur Technique</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Fatma Jepson</h4>
            <span>Comptable</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- Fin Section Équipe Iset -->

   

   <section id="contact" class="contact section">

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 300px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Tozeur</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+216 22 234 432</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>Tozeur@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- Fin Section Contact -->


  </main><!-- End #main -->

  <!-- ======= Pied de page ======= -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>